pandas==3.0.6
numpy==2.5.3
scipy==1.16.3
torch==2.14.1
torchaudio==2.11.0
torchcodec==0.16
torchinfo==1.8.0
torchmetrics==1.9.0
soundfile==0.14.0
tensorboard==2.21.0
tqdm==4.70.1
seaborn==0.13.2

pyarrow>=24.0.0
plotly>=5.22.0
